.custom-carousel-img {
    height: 90vh;
    object-fit: cover !important;
}
  
  .content-section {
    padding: 20px;
    width: 70%;
    margin: 5rem auto;
  }
  
  .text-with-image {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .text-with-image img {
    max-width: 500px;
    height: 500px;
    object-fit: cover;
  }
  
  .image-left {
    order: 1;
    margin-left: 2rem;
  }
  
  .image-right {
    order: -1;
    margin-right: 2rem;
  }
  
  .text-content {
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
  }
  