.grilla {
  width: 60vw;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 15px;
  justify-content: center;
  margin: 30px auto;
}


.tarjetas {
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  z-index: 20;
  background-color: black;
}

.tarjeta1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.tarjeta1 h1{
  font-size: 2rem;
  text-align: center;
  margin: 20px auto;
  display: block;
  width: 100%;
  font-weight: 400;
}

.tarjeta1 h1 span{
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}


.tarjeta2 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.tarjeta2 h1{
  font-size: 2rem;
  text-align: center;
  /* bottom: 20px;
  margin-left: 10px; */
  margin: auto;
  width: 100%;
  display: block;
}

.tarjeta2 span{
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  font-weight: 200;
  width: 100%;
  justify-content: center;
}

.tarjeta3 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.tarjeta3 h1{
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  /* bottom: 20px; */
  font-weight: 400;
}

.tarjeta3 span{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 200;
}

.tarjeta4 { 
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.tarjeta4 h1{ 
  color: #C0C0C0;
  display: block;
  font-size: 1.5rem;
  margin: 10px;
  font-weight: 400;
}

.tarjeta4 span{ 
  color: white;
  display: flex;
  font-size: 2.5rem;
  font-weight: 200;
}

.tarjeta5 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.tarjeta5 h1{
  font-size: 2rem;
  display: flex;
  bottom: 20px;
  left: 10px;
  font-weight: 400;
}

.tarjeta5 span{
  display: flex;
  color: #C0C0C0;
  font-weight: 200;
}



.tarjeta6 {
  grid-column: 1 / span 1;
  grid-row: 4 / span 2;
} 

.tarjeta6 h1{
  font-size: 2rem;
  display: block;
  justify-content: center;
  text-align: center;
  font-weight: 400;
}

.tarjeta6 span{
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  font-weight: 200;
}

.tarjeta7 {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
}

.tarjeta7 h1{
  display: block;
  bottom: 30px;
  right: 30px;
  text-align: end;
  font-size: 2rem;
  font-weight: 400;
}

.tarjeta7 span{
  display: flex;
  font-size: 1rem;
  font-weight: 200;
}

.tarjeta8 {
  grid-column: 1 / span 2;
  grid-row: 6 / span 1;
}

.tarjeta8 h1{
  font-size: 2rem;
  font-weight: 400;
}

.tarjeta9 {
  grid-column: 3 / span 1;
  grid-row: 6 / span 1; 
}

.tarjeta9 h1{
  display: block;
  color: #C0C0C0;
  font-size: 1.5rem;
  font-weight: 400;
}

.tarjeta9 span{
  display: flex;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}

.tarjeta10 {
  grid-column: 1 / span 3;
  grid-row: 7 / span 0.2;
}

.tarjeta10 h1{
  display: block;
  bottom: 25px;
  color: #C0C0C0;
  left: 25px;
  font-weight: 400;
}

.tarjeta10 span{
  display: flex;
  color: white;
  font-weight: 200;
}

.contenido{
  display: block;
  color: white;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; /* Esto centra el contenido verticalmente y horizontalmente */
  border-radius: 10px;
}
.contenido h2, .contenido p{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* .fondo {
position: relative; 
width: 100%;
height: 100%;
background-color: rgba(255, 0, 0, 0.5);

} */

.videoContainer{
height: 100%;
}


  /* Estilos del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  width: 80%;
  max-width: 800px;
  max-height: 80%;
  background-color: #fff;
  padding: 20px;
  overflow: auto;
  border-radius: 10px;
  z-index: 100;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #555;
}



.cardImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.h1{
  display: flex;
  position: absolute;
  padding: 10px;
  color: white;
  font-size: 25px;
}
.cardBodyInicio{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tarjeta, .link, .card{
  height: 100%;
}



.black{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to top, #000000 0%, #ffffff00 70%);
  /* background-color: rgba(0,0,0,0.7); */
  position: absolute;
}

.span{
  color: #C0C0C0;
}



/* Grid.module.css */
.defaultCursor:hover {
  cursor: text!important;
}






@media (max-width: 768px){
  .grilla {
    width: 90vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr 1fr 1.5fr 1fr 2fr 1fr 1.5fr 1fr 2fr;
    grid-gap: 15px;
    justify-content: center;
    margin: 30px auto;
  }
  
  .tarjetas {
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    z-index: 20;
    
    background-color: black;
  }
  
  .tarjeta1 {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
  
  .tarjeta1 h1{
    font-size: 2rem;
    text-align: center;
    margin: 20px auto;
    display: block;
    width: 100%;
  }
  
  .tarjeta1 h1 span{
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  
  .tarjeta2 {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
  
  .tarjeta2 h1{
    font-size: 2rem;
    text-align: center;
    /* bottom: 20px;
    margin-left: 10px; */
    display: block;
  }
  
  .tarjeta2 span{
    font-size: 1.3rem;
    text-align: center;
    display: flex;
  }
  
  .tarjeta3 {
    grid-column: auto / span 1;;
    grid-row: auto / span 1;
  }
  
  .tarjeta3 h1{
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    top: 20px;
  }
  
  .tarjeta3 span{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
  }
  
  .tarjeta4 { 
    grid-column: auto / span 1;;
    grid-row: auto / span 1;;
  }
  
  .tarjeta4 h1{ 
    color: #C0C0C0;
    display: block;
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
  }
  
  .tarjeta4 span{ 
    color: white;
    display: flex;
    font-size: 2.5rem;
  }
  
  .tarjeta5 {
    grid-column: auto / span 1;;
    grid-row: auto / span 1;;
  }
  
  .tarjeta5 h1{
    font-size: 2rem;
    display: flex;
    bottom: 20px;
    left: 10px;
    position: initial;
    justify-content: center;
  }
  
  .tarjeta5 span{
    display: flex;
    color: #C0C0C0;
  }
  
  
  
  .tarjeta6 {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  } 
  
  .tarjeta6 h1{
    font-size: 2rem;
    display: block;
    justify-content: center;
    text-align: center;
  }
  
  .tarjeta6 span{
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
  }
  
  .tarjeta7 {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
  
  .tarjeta7 h1{
    display: block;
    top: 20px;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 2rem;
  }
  
  .tarjeta7 span{
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
  }
  
  .tarjeta8 {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
  
  .tarjeta8 h1{
    font-size: 2rem;
    text-align: center;
  }
  
  .tarjeta9 {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
  
  .tarjeta9 h1{
    display: block;
    color: #C0C0C0;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
  }
  
  .tarjeta9 span{
    display: flex;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
  }
  
  .tarjeta10 {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
  
  .tarjeta10 h1{
    display: block;
    top: 25px;
    color: #C0C0C0;
    left: 25px;
    text-align: center;
  }
  
  .tarjeta10 span{
    display: flex;
    color: white;
    justify-content: center;
  }
  
      .contenido{
        display: block;
        color: white;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        position: absolute; 
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; /* Esto centra el contenido verticalmente y horizontalmente */
        border-radius: 10px;
      }
      .contenido h2, .contenido p{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
  
    /* .fondo {
      position: relative; 
      width: 100%;
      height: 100%;
      background-color: rgba(255, 0, 0, 0.5);
  
    } */
  
    .videoContainer{
      height: 100%;
    }
  
  
    /* Estilos del modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    position: relative;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
    background-color: #fff;
    padding: 20px;
    overflow: auto;
    border-radius: 10px;
    z-index: 100;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .closeButton:hover {
    background-color: #555;
  }
  
  
  
  .cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .h1{
    display: flex;
    position: absolute;
    padding: 10px;
    color: white;
    font-size: 25px;
  }

  .black{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to top, #ffffff00 0%, #000000c2 90%);
    /* background-color: rgba(0,0,0,0.7); */
    position: absolute;
  }
  
  /* Grid.module.css */

  .tarjeta-hidden {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  
}