.contenedor{
    width: 100%;


}
.contenedor{
    height: 90vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    z-index: 0;
    position: relative;
}
.contenedor2{
    height: 100vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    z-index: -50;
    position: absolute;
    top: 0;
}

.video{
    width: 100%;
    object-fit: cover;
}
.imagen{
    width: 100%;
    object-fit: cover;
}

.black{
    width: 100%;
    height: 90vh;
    background: linear-gradient(to top, #000000 0%, #ffffff00 100%);
    /* background-color: rgba(0,0,0,0.7); */
    position: absolute;
}