@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 90vh;
  background-color: white;
}

section {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: white;
}

section:nth-child(-n+9){
  display: flex;
  justify-content: flex-start;
}

section a{
  text-decoration: none;
  color: black;
}

section span {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}
.titulos{
  font-weight: 200;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1rem;
  /* letter-spacing: -4px; */
}

.h2{
  font-size: 1.1rem;
  margin-left: 20px;
  padding: 10px;
}

.portada{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  height: 100vh;
}

.container{
  position: relative;
}

.derecha .logo{
  width: 20vw;
  opacity: 0.2;
}

.derecha{
  display: flex;
  justify-content: center;
  align-items: center;
}
.derechaqf{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.imgqf1{
    max-width: 100%;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.slide{
  background-color: white;
  height: 100vh;
}

.izquierda{
  margin: auto;
}

.indice{
  height: 100vh;
  background-color: white;
}

.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
}

.img{
  width: 90%;
  border-radius: 10px;
  margin: auto;
}

.margenes{
  margin: 80px;
}

.parrafo{
  margin: 50px 0px;
}

.about{
  margin-top: 50px  ;
}

.contraportada{
  background-color: black;
  color: white;
  height: 100vh;
}

.parrafoFinal{
  font-weight: 100;
  font-size: 0.7rem;
  bottom: 0;
}

.video{
  display: flex;
  justify-content: center;
  margin: auto;
}
.video video{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  margin: auto;
}

.secVideo{
  display: flex;
  justify-content: center;
}

.slide9{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}
#cuadro{
  display: flex;
  justify-content: center;
  align-items: center;
}
.circles{
  display: flex;
  background-color: rgba(192, 192, 192, 0.2);
  width: 250px;
  height: 250px;
  border-radius: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.circle1{
  left: 150px;
}
.circle2{
  right: 150px;
}
.circle3{
  top: 150px;
}
.circle4{
  top: -150px;
}

.cuadroLogo{
  display: flex;
}

.cLogo{
  width: 90px;
  height: 90px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  font-weight: 400;
}

.cuadroText{
  display: flex;
  padding: 20px;
}
.text1{
  display: flex;
  justify-content: end;
  width: 100%;
}
.text2{
  display: flex;
  justify-content: start;
  width: 100%;
}
.text3{
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 0;
  height: 100%;
}