.carousel {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .carouselImages {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    border-radius: 10px;
  }
  
  .active { 
    opacity: 1;
  }
  
  .carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    line-height: 50px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .previous {
    left: 1rem;
  }
  
  .next {
    right: 1rem;
  }
  
  .h1{
    margin: 1.5rem 6rem;
  }
  .span{
    color: orange;
    display: flex;
    margin: 3px;
    font-size: 0.8rem;
  }