.footerBox{
    text-align: center;
    background-color: #f1f1f1;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: black;
}
/*.pt4{
    padding-top: 1.5rem;
}
.p3{
    padding: 1rem;
}*/
.mb-4{
    margin-bottom: 1.5rem;
}
ul{
    display: inline-flex;
    list-style: none;
}
.bgBlack{
    background-color: black;
}
.footerLi .footerA{
    color: white !important;
    text-decoration: none;
    margin: 0.5rem;
}
.facebook :hover{
    color:  #4267B2;
}
.twitter :hover{
    color:  #1DA1F2;
}
.instagram :hover{
    color: #C13584;
}
.youtube :hover{
    color:  #FF0000;
}
.footerCopy{
    background-color: rgba(0, 0, 0, 0.2);
}
.textCenter{
    text-align: center;
}
.textDark{
    color: black;
}
.textCenter{
    text-align: center;
    color: white;
}
.footerCopy{
    background-color: black;
}
.linkText{
    color: white;
    text-decoration: none;
}
