.grilla {
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas iguales */
    grid-gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center;
    margin: 30px auto;
  }
  
  .tarjeta:nth-child(1) {
    grid-column: 1 / span 2; /* Ocupa la primera columna */
    grid-row: 1 / span 3; /* Ocupa tres fila */
  }
  
  .tarjeta:nth-child(2) {
    grid-column: 3 / span 1; /* Ocupa 1 columna */
    grid-row: 1 / span 2; /* Ocupa dos filas */
  }
  
  .tarjeta:nth-child(3) {
    grid-column: 3 / span 1; /* Ocupa la segunda columna */
    grid-row: 3 / span 1; /* Ocupa la tercera fila */
  }

  .tarjeta:nth-child(4) {
    grid-column: 1 / span 1; /* Ocupa la segunda columna */
    grid-row: 4 / span 1; /* Ocupa la tercera fila */
  }

  .tarjeta:nth-child(5) {
    grid-column: 2 / span 2; /* Ocupa la segunda columna */
    grid-row: 4 / span 1; /* Ocupa la tercera fila */
  }

  .tarjeta:nth-child(6) {
    grid-column: 1 / span 2; /* Ocupa la segunda columna */
    grid-row: 5 / span 1; /* Ocupa la tercera fila */
  }


  /* Agrega estilos para las tarjetas */
  .tarjeta {
    background-color: white;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
  }