.radioInputs {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(1, 1fr);
}

.radioInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 5px;
  height: 56.4px;
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.noDisp{
  font-style: italic;
  color: rgb(170, 170, 170);
}

.precio{
  display: flex;
  justify-content: end;
}

.radioInput:last-child {
  margin-right: 0;
}

.radioInput.selected {
  border-color: #007bff;
}

.radioInput input[type="radio"] {
  margin-right: 5px;
  cursor: pointer;
  display: none;
}

.ref{
  padding-top: 5rem;
}
.icono{
  width: 10px;
  height: 10px;
}
.icono:hover{
  background-color: rgb(219, 219, 219);
  width: 50px;
  height: 50px;
  border-radius: 5px;
}


.test{
  background-Color: black;
  color: white;
  padding: 10px;
  border-Radius: 5px;
  cursor: pointer;
}
.test:hover{
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  color: RGBA(0,0,0,0.8);
  position: relative;
}

/* main {
  margin: 4px 0 0px 0;
  background-color: #f6f6f6;
  min-height: 80vh;
} */

.hidden {
  display: none
}

.spinner-wrapper {
  position: absolute;
  background-color: #cacacac4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
}

/* Shopping Cart Section - Start */
.shoppingCart {
  padding-bottom: 10px;
  overflow:hidden;
  transition: max-height 5s ease-in-out;
}

.shoppingCart--hidden {
  display: none;
}

.shoppingCart .contentShow {
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075); */
  background-color: black;
  /* background-color: rgba(0, 0, 0, 0.6); */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px 10px 10px 10px;
  left: calc(50vw - 151px);
  width: 302px;
  display: flex;
  position: fixed;
  top: 20px;
  justify-content: center;
  opacity: 1;
  height: 111px;
  transition: all 300ms ease-in-out;
}

.shoppingCart .content{
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px 10px 10px 10px;
  left: calc(50vw - 151px);
  width: 302px;
  display: flex;
  position: fixed;
  top: 20px;
  justify-content: center;
  height: 0%;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.shoppingCart .blockHeading {
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.shoppingCart .block-heading p {
  text-align: center;
  max-width: 600px;
  margin: auto;
  color: RGBA(0,0,0,0.45);
}

.shoppingCart .block-heading h1,
.shoppingCart .block-heading h2,
.shoppingCart .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #009EE3;
}

.shoppingCart .items {
  margin: auto;
}


.shoppingCart .items .product .info {
  padding-top: 0px;
  text-align: left;
}

.shoppingCart .items .product .info .productDetails h5 {
  color: #009EE3;
  font-size: 19px;
}

.shoppingCart .items .product .info .productDetails .productInfo {
  font-size: 15px;
  margin-top: 15px;
}

.shoppingCart .items .product .info .productDetails label {
  width: 50px;
  color: #009EE3;
  font-size: 19px;
}

.shoppingCart .items .product .info .productDetails input {
  width: 80px;
}

.shoppingCart .items .product .info .price {
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}

.summary-item{
  padding: 10px;
  align-items: center;
  display: flex;
}

.summaryGroup{
  display: inline-flex;
  color: white;
}

.shoppingCart .summaryShow {
  height: 100%;
  padding: 10px;
  display: inline-flex;
  opacity: 1;
  position: relative;
  transition: all 600ms ease-in-out;

}


.shoppingCart .summary {
  height: 100%;
  display: inline-flex;
  opacity: 0;
  transition: all 600ms ease-in-out;
}

.shoppingCart .summaryShow h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shoppingCart .summaryShow .summary-item:not(:last-of-type) {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shoppingCart .summaryShow .text {
  font-size: 1em;
  font-weight: 400;
}

.shoppingCart .summaryShow .price {
  font-size: 1em;
  float: right;
}

.shoppingCart .summaryShow button {
  background-color: #009EE3;
  display: flex;
  justify-content: center;
  margin: auto;
  border: none;
}

@media (min-width: 768px) {
  }

  .shoppingCart .items .product .info .price {
    font-weight: 500;
    font-size: 22px;
    top: 17px;
  }

  .shoppingCart .items .product .info .quantity {
    text-align: center;
  }

  .shoppingCart .items .product .info .quantity .quantity-input {
    padding: 4px 10px;
    text-align: center;
  }

.payment-form {
  padding-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.payment-form--hidden {
  display: none;
}

  
.payment-form.dark {
	background-color: #f6f6f6;
}
  
.payment-form .content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}
  
.payment-form .block-heading {
  padding-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}
  
.payment-form .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  color: RGBA(0,0,0,0.45);
}
  
.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #009EE3;
}
  
.payment-form .form-payment {
  border-top: 2px solid #C6E9FA;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: #ffffff;
  padding: 0;
  max-width: 600px;
  margin: auto;
}
  
.payment-form .title {
  font-size: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0.8em;
  font-weight: 400;
  padding-bottom: 8px;
}
  
.payment-form .products {
  background-color: #f7fbff;
  padding: 25px;
}

.payment-form .products .item {
  margin-bottom: 1em;
}
  
.payment-form .products .item-name {
  font-weight: 500;
  font-size: 0.9em;
}
  
.payment-form .products .item p {
  margin-bottom: 0.2em;
}
  
.payment-form .products .price {
  float: right;
  font-weight: 500;
  font-size: 0.9em;
}
  
.payment-form .products .total {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 19px;
  font-weight: 500;
  line-height: 1;
}
  
.payment-form .payment-details {
  padding: 25px 25px 15px;
  height: 100%;
}

.payment-form .payment-details label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #8C8C8C;
  text-transform: uppercase;
}
  
.payment-form button {
  margin-top: 0.6em;
  padding: 12px 0;
  font-weight: 500;
  background-color: #009EE3;
  margin-bottom: 10px;
}

.payment-form .mercadopago-button {
  width: 100%;
  padding: 8px 0;
} 
  
.payment-form a, .payment-form a:not([href]) {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #009ee3;
  cursor:pointer;
}

.payment-form a:not([href]):hover{
  color: #3483FA;
  cursor:pointer;
}

.input-background {
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-color: #fff;
}


footer {
  padding: 2% 10% 6% 10%;
  margin: 0 auto;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#horizontal_logo {
	width: 150px;
  margin: 0;
}

footer p a {
  color: #009ee3;
  text-decoration: none;
}

footer p a:hover {
  color: #3483FA;
  text-decoration: none;
}
  
@media (min-width: 576px) {
	.payment-form .title {
	  font-size: 1.2em;
	}
  
	.payment-form .products {
	  padding: 40px;
	}
  
	.payment-form .products .item-name {
	  font-size: 1em;
	}
  
	.payment-form .products .price {
	  font-size: 1em;
	}
  
	.payment-form .payment-details {
	  padding: 20px 40px;
	}
  
	.payment-form .payment-details button {
	  margin-top: 1em;
	  margin-bottom: 15px;
  }

  .footer_logo {
    margin: 0 0 0 0;
    width: 20%;
    text-align: left;
    position: absolute;
  }

  .footer_text {
    margin: 0 0 0 65%;
    width: 200px;
    text-align: left;
    position: absolute
  }

  footer p {
    padding: 1px;
    font-size: 13px;
    color: RGBA(0,0,0,0.45);
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  footer {
    padding: 5% 1% 15% 1%;
    height: 55px;
  }

  footer p {
    padding: 1px;
    font-size: 11px;
    margin-bottom: 0;
  }
  .footer_text {
    margin: 0 0 0 45%;
    width: 180px;
    position: absolute
  }

  .footer_logo {
    margin: 0 0 0 0;
    position: absolute;
  }
}





/* .infoIcon{
  background-color: rgb(216, 216, 216);
  color: gray;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 5px;
}
span[title] {
  position: relative;
} */

span[title]:hover:after {
  content: attr(title);
  display: flex;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  padding: 5px;
  background-color: gray;
  color: white;
  font-size: 14px;
  z-index: 1;
}



.MuiSvgIconRoot {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiSvgIcon-colorPrimary {
  color: #1976d2;
}
.MuiSvgIcon-colorSecondary {
  color: #dc004e;
}


.texto{
  display: inline-flex;
    justify-content: center;
    align-items: center;
}



.checkout{
  /* background-color: red; */
  color: white;
}

.bodyCheckout{
  width: -webkit-fill-available;
  top: 0px;
  position: absolute;
}



  /* .checkout{
    width: 100vw;
    display: flex;
    justify-content: center;
  } */

  .shiftDown {
    
  }
.color{
  margin-top: 40px;
    background-color: red!important;
  }


#checkout-btn-disabled{
  background-color: #8c8c8ca1;
  cursor:auto;
  margin-top: 3px;
  padding:8px;
}
.text-white{
  color: white;
  
}

.b{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
}

.p{
  display: flex;
  justify-content: center;
  text-align: center;
}


.end{
  display: flex;
  justify-content: end;
}





















.pCantidad{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}


.radioInputsCard{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px auto;
}

.radioInputCard {
  display: inline-block;
  margin-right: 10px;
}

.radioInputCard input[type="radio"] {
  display: none;
}

.radioInputCard .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #c0c0c0;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border: none;
  box-shadow: inset 0 0 0 4px #f5f5f7;

  
}

.radioInputCard .circle:hover {
  /* background-color: blue; */
}

.radioInputCard.selected .circle {
  padding: 1px;
  border: 3px solid #007bff;
}
