.container {
    position: absolute;
    top: 0px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    transition: height 0.2s ease-out;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.2s ease-out;
    z-index: -1;
  }
  
  .show {
    height: 100px; /* Ajusta la altura deseada */
  }
  
  .notification {
    background-color: white;
    color: black;
    border-radius: 20px;
    /* padding: 10px; */
    transition: transform 1s ease-out;
    transform: translateY(-100%);
    width: -webkit-fill-available;
    text-align: center;
  }
  
  .playAnimation {
    transform: translateY(0);
  }
  