.spinner-wrapper {
  position: absolute;
  background-color: #cacacac4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
}
.container{
   margin: auto;
   padding: 10px;
   
}
.statusMessages{
   color:#c0c0c0;
}

.loginContainer{
  top: 10px;
  position: relative;
  margin: 35px 0px;
}
.link{
  display: flex;
  justify-content: center;
  margin: 5px;
  color: black;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.form{
}

.centeredContainer{
  display: flex;
  justify-content: center;
}




 .inputContainer {
  position: relative;
  margin: 1rem auto;
}

.label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1rem;
  color: #666;
  transition: all 0.2s ease-out;
}

.input {
  width: -webkit-fill-available;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: all 0.2s ease-out;
  margin: 0.5rem;
} 





.inputContainer .input{
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  transition: 0.6s;
  background-color: transparent;
}

  .inputContainer .span{
    position: absolute;
    left: 0;
    padding: 19px;
    font-size: 1rem;
    color: black;
    pointer-events: none;
    transition: 0.6s;
    background-color: transparent;
}

.inputContainer .input:valid ~ .span,
.inputContainer .input:focus ~ .span{
    color: black;
    transform: translateX(10px) translateY(0px);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 10px;
    background-color: white;
}

.inputContainer .input:valid,
.inputContainer .input:focus{
    border: 2px solid black;

}

.inputContainer .input.filled ~ .span,
.inputContainer .input.filled:focus ~ .span {
  color: black;
  transform: translateX(10px) translateY(0px);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 10px;
  background-color: white;
}



.centeredContainer p{
  color: black;
}


.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
  border-radius: 10px;
  color: white;
  width: -webkit-fill-available;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

 
 .h1{
  margin: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
 }

 .checkbox{
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem;
  align-items: center;
  color: black;
 }
 .inputcb{
  display: flex;
  justify-content: center;
  margin: 0.5rem;
 }

 input[type="checkbox"]{
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.65rem;
}
input[type="checkbox"]:checked{
  background-color: black;
}


.link{
  padding: 10px;
  color: #0645AD;
}

.linkR{
  color: #0645AD;
}


.shakeInput {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}


.textfield{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill {
  -webkit-text-fill-color: black;
}