.container{
   margin: auto;
   padding: 10px;
   
}
.statusMessages{
   color:red;
}

.loginContainer{
  top: 10px;
  position: relative;
  margin: 20px 0px;
}
.link{
  display: flex;
  justify-content: center;
  margin: 5px;
  color: black;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.form{
}

.centeredContainer{
  display: flex;
  justify-content: center;
}




 .inputContainer {
  position: relative;
  margin: 1rem auto;
}

.label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1rem;
  color: #666;
  transition: all 0.2s ease-out;
}

.input {
  width: -webkit-fill-available;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: all 0.2s ease-out;
  margin: 0.5rem;
} 





.inputContainer .input{
  padding: 10px;
  border: 2px solid #7f8fa6;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  transition: 0.6s;
}

  .inputContainer .span{
    position: absolute;
    left: 0;
    padding: 19px;
    font-size: 1rem;
    color: #7f8fa6;
    pointer-events: none;
    transition: 0.6s;
}

.inputContainer .input:valid ~ .span,
.inputContainer .input:focus ~ .span{
    color: black;
    transform: translateX(10px) translateY(0px);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 10px;
}

.inputContainer .input:valid,
.inputContainer .input:focus{
    color: #3742fa;
    border: 2px solid black;

}





.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
  border-radius: 10px;
  color: white;
  width: -webkit-fill-available;
  margin: 10px;
  padding: 10px;
}

 
 .h1{
  margin: 10px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
 }

 .checkbox{
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem;
  align-items: center;
 }
 .inputcb{
  display: flex;
  justify-content: center;
  margin: 0.5rem;
 }

 input[type="checkbox"]{
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.65rem;
}
input[type="checkbox"]:checked{
  background-color: black;
}