.container{
   margin: auto;
   padding: 10px;
   
}
.statusMessages{
   color:red;
}

.loginContainer{
  top: 10px;
  position: relative;
  margin: 20px 0px;
}


.form{
}

.centeredContainer{
  display: flex;
  justify-content: center;
}




 .inputContainer {
  position: relative;
  margin: 1rem auto;
}

.label {
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  font-size: 1rem;
  color: #666;
  transition: all 0.2s ease-out;
}

.input {
  width: -webkit-fill-available;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: all 0.2s ease-out;
  margin: 0.5rem;
} 

.inputContainer:focus-within .label,
.input:focus + .label {
  top: 0;
  font-size: 0.75rem;
  color: #333;
}

.inputContainer:focus-within .input,
.input:focus {
  border-color: #333;
}



.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
  border-radius: 10px;
  color: white;
  width: -webkit-fill-available;
  margin: 10px;
  padding: 10px;
}

 
 .h1{
  margin: 10px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
 }

 .checkbox{
  display: flex;
  justify-content: start;
  margin: 0.5rem;
  align-items: center;
 }
 .inputcb{
  display: flex;
  justify-content: center;
  margin: 0.5rem;
 }

 input[type="checkbox"],
input[type="radio"]{
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.65rem;
}
input[type="checkbox"]:checked{
  background-color: black;
}