.Navbarcontainer{
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 20000;
    
}
.navprimario{
  top: 20px;
  position: fixed;
  border-radius: 20px;
  
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.1);
}

.box{
  display: flex;
  background-color: white;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
    
}
.menuItem{
  display: inline-block;
  padding: 5px 15px 5px 5px;
  z-index: 10;
}
.menuItem a{
  color: rgb(92, 92, 92);
  list-style: none;
  text-decoration: none;
  font-size: 15px;
}
.menuItem a:hover{
  color: black;
  /* font-weight: 500; */
}
.menuItem img{
  height: 25px;
  display: block;
}

#active:checked ~ .wrapper{
  justify-content: center;
  width: 100%;
  height: 60%;
}

#active:checked ~ .wrapper .login{
  display: flex;
  z-index: -10;
  background-color:black;
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s ease-in-out;
  
}

.wrapper {
  border-radius: 20px;
  background: white;
  backdrop-filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  overflow: hidden;
  max-height: 0;
  transform: translateY(-100%);
  box-shadow: 0 0 50px 10px rgba(0,0,0,0.1);
}

#active:not(:checked) ~ .wrapper {
  transform: translateY(-100%);
}

.btn {
  background-color: transparent;
  border: none;
  color: black;
}
/* .btn:hover{
  height: 1000px;
  background-color: red;
  top: 0;
} */
.show {
  max-height: 1000px;
  transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
.wrapper.show {
  height: fit-content;
  opacity: 1;
  padding-bottom: 1rem;
  visibility: visible;
  transform: translateY(0);
}

.menubtn{
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menubtn span,
.menubtn:before,
.menubtn:after{
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #000;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menubtn:before{
  transform: translateY(-8px);
  transition: all 0.3s ease-in-out;
}
.menubtn:after{
  transform: translateY(8px);
  transition: all 0.3s ease-in-out;
  }
  
  
  .close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /*transition: background .6s;*/
    transition: all 0.6s ease-in-out;
  }
  
  /* closing animation */

  .wrapper ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    height: 10%;
    margin: 15px 0;
  }

 
  #active:checked ~ .wrapper ul li a{
    opacity: 1;
  }
  .wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }
  #active:checked ~ .wrapper ul li a{
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
    transition-delay: .6s;
    transform: translateX(-100px);
  }