.profilePage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    justify-content: center;
    width: 75vw;
  }
  
  .cardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 25px;
  }
  
  .card {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: white;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    align-items: center;
  }
  
  .cardInicio {
    background-color: white;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    text-decoration: none;
    color: black;
  }

  .cardImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
  }
  
  .cardInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  
  .cardBodyInicio {
    padding: 20px;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .cardIcon{
    width: 2rem;
  }
  
  .cardLinkInicio {
    text-decoration: none;
  }
  .link{
    text-decoration: none;
  }

  .icon {
    display: flex;
    justify-content: center;
  }
  
  .perfil {
    padding: 20px;
  }
  
  .lista {
    display: block;
  }
  
  .listaElemento {
    margin: 10px 0px;
  }
  
  .perfilImg {
    margin: 5px;
  }
  
  .leftSection {
    margin: 0 auto;
  }
  
  .listaElemento a {
    color: black;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    align-items: center;
  }
  
  .listaElemento a:hover {
    background-color: aliceblue;
    border-radius: 20px;
  }
  
  .text h1 {
    font-size: 28px;
  }
  
  .listaElemento button:focus {
    color: #0071e3;
  }
  
  /* Modal */
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .modalCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    background-color: #fff;
    padding: 1rem;
    width: 80vw;
    max-width: 800px;
    border-radius: 20px;
  }
  
  .modalCardHeader {
    display: block;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .modalCardImg {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 15px;
  }
  
  .modalCloseButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  .modalCloseButton:before {
    content: '✖';
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
  }
  
  .modalTransition-enter {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .modalTransition-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease-in-out;
  }
  
  .modalTransition-exit {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .modalTransition-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 300ms ease-out;
  }

  .btn{
    background-color: transparent;
    border: none;
  }
  .alto{
    height: calc(100vh - 30.4px);
    top: 0;
    position: relative;
    padding-top: 80px;
  }




  .inputContainer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .button{
    margin: 20px;
    background-color: black;
    color: white  ;
    padding: 5px;
    border-radius: 20px;
  }


  .inputContainer .input{
    padding: 10px;
    border: 1px solid #7f8fa6;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    transition: 0.6s;
    height: 35px;
    margin: 5px;
  }
  
    .inputContainer .span{
      position: absolute;
      left: 25px;
      padding: 5px;
      font-size: 1rem;
      color: #7f8fa6;
      pointer-events: none;
      transition: 0.6s;
  }
  
  .inputContainer .input:valid ~ .span,
  .inputContainer .input:focus ~ .span{
      color: black;
      transform: translateX(0px) translateY(-20px);
      font-size: 0.8rem;
      font-weight: 600;
      padding: 0 10px;
      background-color: white;
      border-radius: 10px;
  }
  

  .modalCardApp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    background-color: #fff;
    padding: 1rem;
    max-width: 800px;
    border-radius: 20px;
  }


  .icono{
    display: flex;
    justify-content: center;
    color: red;
  }

  .titulo{
    display: flex;
    justify-content: center;
  }

  .description{
    display: flex;
    justify-content: center;
  }

  .show{
    margin: 20px;
    background-color: black;
    color: white  ;
    padding: 5px;
    border-radius: 20px;
  }

  .none{
    display: none;
  }

  #mas:first-child{
    display: flex;
    color: red;
  }



  .quince {
    color: red;
    background-color: red;
  }
  .card15{
    color: red!important;
  }

  .h1{
    font-weight: 500;
    margin: 0px 10px;
  }


  .cardGridInicio{
    height: 100%;
  }