.text{
    position: absolute;
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin-top: 65vh;
    width: 100vw;
    color: white;
  }
  .text h1, .text p, .link{
    display: flex;
    width: 75vw;
    margin: auto;
    justify-content: center;
    text-align: center;
    text-decoration: none;
  }

  .link{
    color: #0071e3;
  }
