.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 50px;
  }
  
  .imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  .image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 24px;
  }
  