/* Shop.module.css */

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  height: 3520px;
}

.carousel {
  width: 70vw;
  height: fit-content;
  position: sticky;
  top: 50px;
}

.inputs {
  width: 30%;
  max-height: 340px;
  top: 90px;
  position: relative;
  /* padding-right: 1rem; */
}

.faq{
  padding-bottom: 1rem;
  margin-top: 250px;
}


@media (max-width: 768px) {
  .container {
    display: block;
    justify-content: center;
    margin: 20px 0;
    height: 890px;
  }

  .carousel {

    width: 100vw;
    height: fit-content;
    position: relative;
    top: 45px;
  }

  .inputs {
    display: flex;
    width: 100vw;

    bottom: 0;
    top: 90px;
    /* padding-right: 1rem; */
  }

  .faq{
    padding-bottom: 1rem;
    margin-top: 50px;
  }
  

}